body {
  margin: 0;
  color: #8c8a93;
}

section {
  margin: 0rem 15%;
  padding-top: 5rem;
}

/* header */
.navbar {
  background-color: white;

  font-family: "Poppins";
}

header div {
  position: relative;
}
.img-layer {
  position: absolute;
  z-index: 1;
}

.img-layer img {
  height: 100vh;
  overflow: hidden;
  margin-top: 3rem;
}

.container-fluid {
  margin: 0 15%;
}

.navbar-collapse {
  flex-grow: 0;
}

.logo {
  width: 85%;
}

.carousel-item img {
  height: 85vh;
  position: relative;
  filter: brightness(50%);
}

.carousel button {
  margin: auto 10%;
}

.sub-head {
  background-color: #3a7e80;
  height: 20vh;
  text-align: center;
  position: relative;
  z-index: 10;
}

.sub-head h3 {
  /* margin: auto 15%; */
  color: white;
  font-size: 1.875rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* section About*/

.col-sm,
.col,
.col-sm-6,
.col-sm-12 {
  border: 1px solid red;
}
.col h4 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.625rem;
  color: #181620;
}

.col p {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 1rem;
}

.inner-col,
.stats,
.focus-cards {
  padding: 3rem 1rem;
  margin: auto;
  font-family: "Montserrat";
}
.fun-fact {
  font-weight: 300;
  font-size: 3.1875rem;
}
.fun-fact span {
  font-size: 9.625rem;
  font-weight: 700;
  color: #4c5053;
}
.sa-map {
  width: 100%;
}
.fun-fact-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.row > * {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Section Focus */
#Focus {
  padding: 4rem 0 3rem;
  font-family: "Poppins";
  font-size: 1.3125rem;
}
#Focus h4 {
  font-family: "Montserrat";
  color: black;
  font-size: 1.625rem;
  font-weight: 700;
}

#Focus h2 {
  margin-bottom: 2rem;
  font-family: "Montserrat";
  font-size: 2.3125;
  color: #eb6430;
}

.focus-bg {
  background-color: #f8f5f5;
  text-align: center;
}
.focus-bg div {
  text-align: left;
  padding: 0.4rem 0.6rem;
}

/* Section Contact */
#contact {
  margin: 0;
  padding: 0;
}
.banner {
  position: relative;
}
.contact {
  position: absolute;
  z-index: 10;
  width: 100%;
  padding-top: 4rem;
}
.contact-text {
  margin: 0rem 15%;
  text-align: center;
  color: white;
  /* font-size: 1.75rem; */
  font-family: "Montserrat";
}
.contact-text p {
  margin: 0rem 30%;
}
.contact-text h1 {
  font-family: "PT Sans Narrow";
  font-weight: 700;
  font-size: 4.75rem;
  text-transform: uppercase;
}
.contact-text h1 span {
  color: #f7a735;
}

/* Footer */
footer {
  background-color: #26211e;
  margin: 0;
  padding: 2rem 0;
}
.footer {
  margin: 0 15%;
  text-align: center;
  color: #686462;
}
.last-p {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}
.footer-logo img {
  width: 70%;
}

.footer-logo {
  align-self: center;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  color: white;
}
.info img {
  width: 5%;
}

.info {
  padding: 0;
  text-align: left;
}

@media (max-width: 575.98px) {
  section {
    margin: 0 4%;
  }
  .focus-bg div {
    text-align: center;
  }
  .container-fluid {
    margin: 0 2%;
  }
  .banner .w-100 {
    height: 9rem;
  }
  .logo {
    width: 60%;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .sub-head {
    height: 15vh;
  }
  .sub-head h3 {
    font-size: 1.2rem;
  }
  .inner-col,
  .stats,
  .focus-cards {
    padding: 2rem 1rem;
  }
  .fun-fact {
    font-size: 2.18rem;
  }
  .fun-fact span {
    font-size: 7.625rem;
  }
  .fun-fact-text {
    font-size: 1.2rem;
  }
  #Focus {
    padding: 2rem 0 0rem;
  }
  .contact {
    padding-top: 0.1rem;
  }
  .contact-info {
    font-size: 0.6rem;
  }
  .contact-text {
    margin: 0rem 15%;
    font-size: 0.9rem;
    line-height: 1;
  }
  .contact-text p {
    margin: 0rem 2%;
  }
  .contact-text h1 {
    font-weight: 700;
    font-size: 1.35rem;
  }

  /* Footer */
  footer {
    padding: 0.5rem 0;
  }
  .footer {
    margin: 0 5%;
  }
  .last-p {
    font-size: 0.7rem;
    margin: 0.5rem 0;
  }
  .footer-logo img {
    width: 60%;
  }

  .info img {
    width: 10%;
  }
  .info {
    font-size: 0.9rem;
    line-height: 1;
  }
}

@media (max-width: 767.98px) {
  .focus-bg div {
    text-align: center;
  }

  .logo {
    width: 50%;
  }
  .img-layer img {
    margin-top: 0rem;
  }
  .contact {
    padding-top: 0.5rem;
  }
  .contact-info {
    font-size: 1rem;
  }
  .contact-text {
    margin: 0rem 15%;
    font-size: 0.9rem;
    line-height: 1;
  }
  .contact-text p {
    margin: 0rem 2%;
  }
  .contact-text h1 {
    font-size: 1.55rem;
  }

  /* Footer */
  footer {
    padding: 0.5rem 0;
  }
  .footer {
    margin: 0 5%;
  }
  .last-p {
    font-size: 0.9rem;
    margin: 0.5rem 0;
  }
  .footer-logo img {
    width: 60%;
  }

  .info img {
    width: 8%;
  }
  .info {
    font-size: 1rem;
    line-height: 1;
  }
}

@media (max-width: 991.98px) {
  .focus-bg div {
    text-align: center;
  }
  .inner-col,
  .stats,
  .focus-cards {
    text-align: center;
  }

  .contact {
    padding-top: 1.5rem;
  }
  .contact-text {
    margin: 0rem 20%;
    line-height: 1;
  }
  .contact-text h1 {
    font-size: 2.35rem;
  }



}

@media (max-width: 1199.98px) {
  .img-layer {
    display: none;
  }

  .contact-text {
    font-size: 1.1rem;
  }
  .contact-text h1 {
    font-size: 2.55rem;
  }

  .sa-map {
    width: 100%;
  }

  /* Footer */
  .info img {
    width: 8%;
  }
  .info {
    font-size: 1rem;
  }
}

@media (max-width: 1399.98px) {
  .contact {
    padding-top: 2em;
  }
  .contact-info {
    font-size: 1.5rem;
  }
  .contact-text {
    margin: 0rem 20%;
    font-size: 1.5rem;
    line-height: 1;
  }
  .contact-text p {
    margin: 0rem 4%;
  }
  .contact-text h1 {
    font-size: 3.55rem;
  }

  .fun-fact {
    font-size: 2.18rem;
  }
  .fun-fact span {
    font-size: 7.625rem;
  }
  .fun-fact-text {
    font-size: 1.2rem;
  }

  /* Footer */
  footer {
    padding: 0.5rem 0;
  }
  .footer {
    margin: 0 10%;
  }
  .last-p {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .footer-logo img {
    width: 60%;
  }

  .info img {
    width: 5%;
  }
  .info {
    font-size: 1.2rem;
    line-height: 1;
  }

  .info > p:nth-child(3) {
    display: none;
  }

  .info > p:nth-child(4) {
    display: none;
  }

  .info > div:nth-child(5) {
    line-height: 1.5;
  }
}
